body,html {
    height: 100%;
}

h3 {
  margin-bottom: 30px;
}

a.nonhref {
  color: #007bff !important;
}
a.nonhref:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.searcher {
  margin-top: 30px;
  margin-bottom: 30px;
}
.searcher .form-control {
  margin-bottom: 10px;
}

.chat-container {
    margin: 0px;
    padding: px;
}

.chat-message {
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.bot-message {
    background: green;
    color: white;
}

.human-message {
    background:dodgerblue;
    color: white;
    margin: 13px 1px;
}

.input {
  width: 100%;
  margin: 35px 0px;
  height: 60px;
  border: 1px solid rosybrown;
  border-radius: 3px;
}
