body,html {
    height: 100%;
}

h3 {
  margin-bottom: 30px;
}

a.nonhref {
  color: #007bff !important;
}
a.nonhref:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.searcher {
  margin-top: 30px;
  margin-bottom: 30px;
}
.searcher .form-control {
  margin-bottom: 10px;
}

.chat-container {
    margin: 0px;
    padding: px;
}

.chat-message {
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.bot-message {
    background: green;
    color: white;
}

.human-message {
    background:dodgerblue;
    color: white;
    margin: 13px 1px;
}

.input {
  width: 100%;
  margin: 35px 0px;
  height: 60px;
  border: 1px solid rosybrown;
  border-radius: 3px;
}




/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width:100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.table td, .table th {
  padding: .2rem;
}

.table thead th {
  vertical-align: middle;
}
