{% extends 'base.html' %}

{% block content %}

    <form method="POST" id="target" style="margin-top: 50px">
        <div class="form-group">
            <input type="text" class="form-control" name="organisation" placeholder="Organisation">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="website" placeholder="Website">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="sector" placeholder="Sector">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="type"  placeholder="Type">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="country" placeholder="Country">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="fund_currency" placeholder="Fund currency">
        </div>
        <div class="form-group">
            <input type="text" pattern="\d*" class="form-control" name="fund_size_min" placeholder="Fund size min">
        </div>
        <div class="form-group">
            <input type="text" pattern="\d*" class="form-control" name="fund_size_max" placeholder="Fund size max">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="crawl_urls" placeholder="Crawl URLs">
        </div>

        <div class="form-group">
            <textarea type="text" name="description" class="form-control" rows="8" cols="80" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <input type="text" name="competition_available" class="form-control" placeholder="Competition Available"></textarea>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>

    <br />

    <a href="/"><button type="submit" class="btn btn-block btn-primary">Back</button></a>

    <!--<div class="table-responsive">
        <table class="table" id="investors">
            <thead>
                <tr>
                    <th scope="col">Organisation</th>
                    <th scope="col">Region</th>
                    <th scope="col">Website</th>
                    <th scope="col">Description</th>
                    <th scope="col">Additional Info</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for investor in investors %}
                <tr id={{ investor.id }}>
                    <th scope="row">{{ investor.organisation }}</th>
                    <td> {{investor.region }} </td>
                    <td> {{ investor.website }} </td>
                    <td> {{ investor.description }} </td>
                    <td> {{ investor.additional_info }} </td>
                    <td> <a href="/edit/{{ investor.id }}">Edit</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>-->
{% endblock %}
