{% extends 'base.html' %}

{% block content %}

  <script src="{{ url_for('static', filename='scripts.js')}}"></script>

    <div class="searcher">
      <h3>Search</h3>

      <input id="keywords-search" type="text" class="form-control" placeholder="Keywords">
      <input id="organisation-search" type="text" class="form-control" placeholder="Organisation">
      <input id="region-search" type="text" class="form-control" placeholder="Region">
      <button type="submit" onclick="search()" class="btn btn-block btn-primary">Search</button>

      <br>
      <a href="/add_investor"><button type="submit" class="btn btn-block btn-primary">Add new investor</button></a>
    </div>

    <h3>Investors</h3>

    <div class="chat-container" style="overflow: auto;">
        <div class="table-responsive">
            <table class="table" id="investors">
                <thead>
                    <tr>
                        <th scope="col">Organisation</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Type</th>
                        <th scope="col">Country</th>
                        <th scope="col">Fund size</th>
			                  <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for investor in investors %}
                    <tr id={{ investor.id }}>
                        <th class="organisation-data" scope="row"><a href="{{ investor.website }}">{{ investor.organisation }}</a></th>
                        <td class="sector-data"> {{investor.sector }} </td>
                        <td class="type-data"> {{investor.type }} </td>
                        <td class="country-data"> {{investor.country }} </td>
                        <td class="fund-data"> {{investor.fund_currency}} {{investor.fund_size_min}}-{{investor.fund_size_max}} </td>
                        <td> <a href="/edit/{{ investor.id }}">Edit</a>
                          <a class="nonhref" onclick="if (confirm('d')) { delete_entry({{ investor.id }}); $('#{{ investor.id }}').remove();}">Delete</a> </td>



                        <script>
                          document.getElementById("{{ investor.id }}").childNodes[9].innerHTML = "{{investor.fund_currency}} " + numToLabel({{investor.fund_size_min}}) + "-" + numToLabel({{investor.fund_size_max}});
                        </script>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
